{% extends "core/base.html" %} {% load static %} {% block content %}

    <div class="index-center-div">
        <p class="text-bold-white center">WELCOME TO BOSTON FIESTA 2022</p>

        <div class="center-div-flex">
            <a href="/boston">
                <div class="border-box">
                    <center><img src="{% static 'core/images/boston_logo.jpg' %}" alt="Boston Students" width="120px" height="120px" style="border-radius: 10px"/></center>
                    <p class="text-white center">Boston Students</p>
                </div>
            </a>
            <a href="/upload-information">
                <div class="border-box">
                    <center><img src="{% static 'core/images/outside_college.jpg' %}" alt="Outside Students" width="120px" height="120px" style="border-radius: 10px"/></center>
                    <p class="text-white center">Outside Students</p>
                </div>
            </a>
        </div>
    </div>
    
{% endblock content %}