{% extends "core/base.html" %} {% load static %} {% block content %}

    <div class="center-div">
        <p class="text-bold-white center">LOGIN YOUR ACCOUNT</p>
        <p class="text-bold-white center">BOSTON FIESTA 2022</p>

        <form class="form" autocomplete="off" method="POST">
            {% csrf_token %}
            <div class="input-container">
                <i class="fa fa-envelope icon"></i>
                <input class="input-field" autocomplete="off" type="email" placeholder="Email" name="email" required/>
            </div>
            
            <div class="input-container">
                <i class="fa fa-key icon"></i>
                <input class="input-field" autocomplete="off" type="password" placeholder="Password" name="password" required/>
            </div>
            
            <button type="submit" class="btn">Find My Ticket <i class="fa fa-arrow-right" style="margin-left: 10px"></i></button>

            <p class="text-white center"><a href="/">New User! Register</a></p>
            <p class="text-white-sm center"><a href="/"><i class="fa fa-arrow-left" style="margin-left: 10px"></i> Back to home</a></p>
        </form>
    </div>
    
{% endblock content %}