{% extends "core/base.html" %} {% load static %} {% block content %}

    <p class="text-bold-black center white-bg"><i class="fa fa-arrow-right" style="margin-right: 15px"></i> Update your information</p>
    <div class="center-div">

        <form class="form" method="POST">
            {% csrf_token %}
            <div class="input-container">
                <input class="input-field" type="text" placeholder="First Name" name="first_name" required/>
            
                <input class="input-field" type="text" placeholder="Last Name" name="last_name" required/>
            
                <input class="input-field" type="text" placeholder="Program" name="program" required/>
            </div>

            <div class="input-container">
                <input class="input-field" type="text" placeholder="Semester" name="semester" required/>
            
                <input class="input-field" type="text" placeholder="Shift" name="shift" required/>
            
                <input class="input-field" type="email" placeholder="Email Id" name="email" required/>
            </div>
            
            <button type="submit" class="btn">Generate My Ticket <i class="fa fa-arrow-right" style="margin-left: 10px"></i></button>
        </form>
        
    </div>
    
{% endblock content %}